{
   "inputs": {
      "test": {
         "phase": "EVAL", 
         "input_type": "DRMM_PointGenerator", 
         "hist_feats_file": "../data/QuoraQP/relation_test.binsum-300.txt", 
         "relation_file": "../data/QuoraQP/relation_test.txt", 
         "batch_size": 1024
      }, 
      "predict": {
         "phase": "PREDICT", 
         "input_type": "DRMM_PointGenerator", 
         "hist_feats_file": "../data/QuoraQP/relation_test.binsum-300.txt", 
         "relation_file": "../data/QuoraQP/relation_test.txt", 
         "batch_size": 1024
      }, 
      "train": {
         "relation_file": "../data/QuoraQP/relation_train.txt", 
         "input_type": "DRMM_PointGenerator", 
         "batch_size": 1024, 
         "batch_per_iter": 5, 
         "hist_feats_file": "../data/QuoraQP/relation_train.binsum-300.txt", 
         "phase": "TRAIN", 
         "query_per_iter": 50, 
         "use_iter": false
      }, 
      "share": {
         "vocab_size": 28211, 
         "use_dpool": false, 
         "embed_size": 300, 
         "target_mode": "classification", 
         "text1_corpus": "../data/QuoraQP/corpus_preprocessed.txt", 
         "text2_corpus": "../data/QuoraQP/corpus_preprocessed.txt", 
         "embed_path": "../data/QuoraQP/embed_glove_d300", 
         "text1_maxlen": 20, 
         "class_num": 2, 
         "bin_num": 300, 
         "train_embed": false, 
         "text2_maxlen": 20
      }, 
      "valid": {
         "phase": "EVAL", 
         "input_type": "DRMM_PointGenerator", 
         "hist_feats_file": "../data/QuoraQP/relation_valid.binsum-300.txt", 
         "relation_file": "../data/QuoraQP/relation_valid.txt", 
         "batch_size": 1024
      }
   }, 
   "global": {
      "optimizer": "adam", 
      "num_iters": 1000, 
      "save_weights_iters": 10, 
      "learning_rate": 0.01, 
      "test_weights_iters": 500, 
      "weights_file": "/home/lyang/MatchZoo/examples/quoraqp/weights/anmm.quoraqp.weights", 
      "model_type": "PY", 
      "display_interval": 10
   }, 
   "outputs": {
      "predict": {
         "save_format": "TEXTNET", 
         "save_path": "predict.test.anmm_quoraqp.txt"
      }
   }, 
   "losses": [
      {
         "object_name": "categorical_crossentropy", 
         "object_params": {}
      }
   ], 
   "metrics": [
      "accuracy"
   ], 
   "net_name": "ANMM", 
   "model": {
      "model_py": "anmm.ANMM", 
      "setting": {
         "dropout_rate": 0.0, 
         "hidden_sizes": [
            300, 
            1
         ], 
         "num_layers": 2
      }, 
      "model_path": "./models/"
   }
}