{
  "net_name": "BIMPM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/QuoraQP/weights/bimpm_quoraqp.weights",
      "save_weights_iters": 10,
      "num_iters": 500,
      "display_interval": 10,
      "test_weights_iters": 500,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/QuoraQP/corpus_preprocessed.txt",
        "text2_corpus": "./data/QuoraQP/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "train_embed": true,
        "embed_path": "./data/QuoraQP/embed_glove_d300_norm",
        "vocab_size": 28159,
        "target_mode": "classification",
        "class_num": 2,
        "text1_maxlen": 20,
        "text2_maxlen": 20
    },
    "train": {
        "input_type": "PointGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 20,
        "batch_per_iter": 5,
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_train.txt"
    },
    "valid": {
        "input_type": "PointGenerator", 
        "phase": "EVAL",
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_valid.txt"
    },
    "test": {
        "input_type": "PointGenerator", 
        "phase": "EVAL",
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_test.txt"
    },
    "predict": {
        "input_type": "PointGenerator", 
        "phase": "PREDICT",
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TEXTNET",
      "save_path": "predict.test.bimpm_quoraqp.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "bimpm.BiMPM",
    "setting": {
        "hidden_size": 50,
        "channel": 50,
        "aggre_size": 50,
        "with_full_match": true,
        "with_maxpool_match": true,
        "with_attentive_match": true,
        "with_max_attentive_match": true,
        "dropout_rate": 0.5
    }
  },
  "losses": [
    {
       "object_name": "categorical_crossentropy",
       "object_params": {}
    }
  ],
  "metrics": [ "accuracy" ]
}

