{
  "net_name": "DRMM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/QuoraQP/weights/drmm.quoraqp.weights",
      "save_weights_iters": 500,
      "num_iters": 500,
      "display_interval": 10,
      "test_weights_iters": 500,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/QuoraQP/corpus_preprocessed.txt",
        "text2_corpus": "./data/QuoraQP/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 1,
        "embed_path": "./data/QuoraQP/embed.idf",
        "train_embed": false,
        "vocab_size": 28159,
        "target_mode": "classification",
        "class_num": 2,
        "hist_size": 500,
        "text1_maxlen": 20,
        "text2_maxlen": 20
    },
    "train": {
        "input_type": "DRMM_PointGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_train.txt",
        "hist_feats_file": "./data/QuoraQP/relation_train.hist-500.txt"
    },
    "valid": {
        "input_type": "DRMM_PointGenerator", 
        "phase": "EVAL",
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_valid.txt",
        "hist_feats_file": "./data/QuoraQP/relation_valid.hist-500.txt"
    },
    "test": {
        "input_type": "DRMM_PointGenerator", 
        "phase": "EVAL",
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_test.txt",
        "hist_feats_file": "./data/QuoraQP/relation_test.hist-500.txt"
    },
    "predict": {
        "input_type": "DRMM_PointGenerator", 
        "phase": "PREDICT",
        "batch_size": 1024,
        "relation_file": "./data/QuoraQP/relation_test.txt",
        "hist_feats_file": "./data/QuoraQP/relation_test.hist-500.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.quoraqp.txt"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 4,
        "hidden_sizes": [300, 300, 100, 1],
	    "dropout_rate": 0.0
    }
  },
  "losses": [ 
    {
       "object_name": "categorical_crossentropy",
       "object_params": {}
    }
  ],
  "metrics": [ "accuracy" ]
}

