{
   "net_name": "DSSM", 
   "global": {
      "optimizer": "adam", 
      "num_iters": 500, 
      "save_weights_iters": 10, 
      "learning_rate": 0.001, 
      "test_weights_iters": 500, 
      "weights_file": "examples/QuoraQP/weights/dssm_quoraqp_0.weights",
      "model_type": "PY", 
      "display_interval": 10
   }, 
   "inputs": {
      "share": {
         "vocab_size": 4140, 
         "use_dpool": false, 
         "embed_size": 1, 
         "target_mode": "classification", 
         "text1_corpus": "./data/QuoraQP/corpus_preprocessed.txt", 
         "text2_corpus": "./data/QuoraQP/corpus_preprocessed.txt", 
         "word_triletter_map_file": "./data/QuoraQP/word_triletter_map.txt", 
         "text1_maxlen": 20, 
         "class_num": 2, 
         "text2_maxlen": 20
      }, 
      "train": {
         "relation_file": "./data/QuoraQP/relation_train.txt", 
         "input_type": "Triletter_PointGenerator", 
         "batch_size": 1024, 
         "batch_per_iter": 5, 
         "dtype": "dssm", 
         "phase": "TRAIN", 
         "query_per_iter": 20, 
         "use_iter": false
      }, 
      "valid": {
         "phase": "EVAL", 
         "input_type": "Triletter_PointGenerator", 
         "relation_file": "./data/QuoraQP/relation_valid.txt", 
         "batch_size": 1024, 
         "dtype": "dssm"
      },
      "test": {
         "phase": "EVAL", 
         "input_type": "Triletter_PointGenerator", 
         "relation_file": "./data/QuoraQP/relation_test.txt", 
         "batch_size": 1024, 
         "dtype": "dssm"
      }, 
      "predict": {
         "phase": "PREDICT", 
         "input_type": "Triletter_PointGenerator", 
         "relation_file": "./data/QuoraQP/relation_test.txt", 
         "batch_size": 1024, 
         "dtype": "dssm"
      } 
   }, 
   "outputs": {
      "predict": {
         "save_format": "TEXTNET", 
         "save_path": "predict.test.dssm_quoraqp.txt"
      }
   }, 
   "model": {
      "model_path": "matchzoo/models/",
      "model_py": "dssm.DSSM", 
      "setting": {
         "dropout_rate": 0.0, 
         "hidden_sizes": [
            600, 
            300, 
            128
         ]
      } 
   },
   "losses": [
      {
         "object_name": "categorical_crossentropy", 
         "object_params": {}
      }
   ], 
   "metrics": [
      "accuracy"
   ]
}
