*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.config
*.DS_Store
matchzoo/models/*.config
matchzoo/models/querydecision*
data/mq2008/*
data/mq2007
data/toutiao
data/robust/*
data/tmp
build/
log/*
matchzoo/log/*
qrels.*
trec_eval
