*.pyc
*.log
*.swp
*.bak
*.weights
*.trec
*.ranklist
*.DS_Store
.vscode
.coverage
predict.*
build/
dist/
data/
log/*
matchzoo/log/*
matchzoo/querydecision/
log/*
.idea/
.pytest_cache/
MatchZoo.egg-info/
notebooks/wikiqa/.ipynb_checkpoints/*
