# Watchers and contributors to MatchZoo repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor 
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.

#  Define individuals or teams that are responsible for code in a repository.

# global owner.
*       @faneshion

# third-party & project configuration
.coveragerc             @bwanglzu
.gitignore      	@faneshion
.travis.yml     	@bwanglzu
CONTRIBUTING.MD 	@bwanglzu
Makefile        	@bwanglzu
README.md       	@yangliuy @pl8787
readthedocs.yml 	@wqh17101 @bwanglzu
requirements.txt        @faneshion @pl8787
setup.py                @faneshion @pl8787

# artworks
/artworks/              @faneshion

# docs
/docs/                  @wqh17101 @bwanglzu

# tests
/tests/                 @faneshion @bwanglzu

# matchzoo
/matchzoo/engine/       @faneshion @bwanglzu @wqh17101
/matchzoo/models/       @yangliuy @pl8787 @bwanglzu @wqh17101
/matchzoo/preprocessor/ @bwanglzu @faneshion @wqh17101
/matchzoo/tasks/        @faneshion @bwanglzu @wqh17101
/matchzoo/generators/   @faneshion @pl8787 @yangliuy @wqh17101
/matchzoo/*             @bwanglzu @faneshion @wqh17101
