keras >= 2.0.5
jieba >= 0.39
many_stop_words >= 0.2.2
tensorflow >= 1.1.0
nltk >= 3.2.3
numpy >= 1.12.1
six >= 1.10.0
h5py >= 2.7.0
tqdm >= 4.19.4
coverage >= 4.3.4
codecov >= 2.0.15
pytest >= 3.6.0
pytest-cov >= 2.4.0
mock >= 2.0.0
flake8 >= 3.2.1
flake8_docstrings >= 1.3.0
dill >= 0.2.7.1
hyperopt == 0.1
networkx == 1.11
pandas >= 0.23.1
