{
  "net_name": "DSSM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/wikiqa/weights/dssm.wikiqa.weights",
      "save_weights_iters": 10,
      "num_iters": 400,
      "display_interval": 10,
      "test_weights_iters": 400,
      "optimizer": "adadelta",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/WikiQA/corpus_preprocessed.txt",
        "text2_corpus": "./data/WikiQA/corpus_preprocessed.txt",
        "word_triletter_map_file": "./data/WikiQA/word_triletter_map.txt",
        "vocab_size": 8073,
        "embed_size": 50,
        "train_embed": true,
        "target_mode": "ranking",
        "text1_maxlen": 50,
        "text2_maxlen": 200
    },
    "train": {
        "input_type": "Triletter_PairGenerator", 
        "dtype": "cdssm",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "./data/WikiQA/relation_train.txt"
    },
    "valid": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "cdssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/WikiQA/relation_valid.txt"
    },
    "test": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "cdssm",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/WikiQA/relation_test.txt"
    },
    "predict": {
        "input_type": "Triletter_ListGenerator", 
        "dtype": "cdssm",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/WikiQA/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.wikiqa.txt"
    }
  },
  "model": {
    "model_path": "./matchzoo/models/",
    "model_py": "cdssm.CDSSM",
    "setting": {
        "kernel_count": 50,
        "kernel_size": 3,
        "hidden_sizes": [10],
        "dropout_rate": 0.9
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

