{
  "net_name": "MatchPyramid",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/weights/matchpyramid.wikiqa.weights",
      "num_epochs": 100,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "../data/WikiQA/corpus_preprocessed.txt",
        "text2_corpus": "../data/WikiQA/corpus_preprocessed.txt",
        "use_dpool": true,
        "embed_size": 50,
        "embed_path": "../data/WikiQA/embed_glove_d50_norm",
        "vocab_size": 27901,
        "train_embed": false,
        "target_mode": "ranking",
        "text1_maxlen": 10,
        "text2_maxlen": 20
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "../data/WikiQA/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/WikiQA/relation_train.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/WikiQA/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "../data/WikiQA/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.wikiqa.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "matchpyramid.MatchPyramid",
    "setting": {
        "kernel_count": 32,
        "kernel_size": [3, 3],
        "dpool_size": [3, 3],
        "dropout_rate": 0.3
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

