{
  "net_name": "cdssm",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/cdssm.weights",
      "num_epochs": 3,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "../data/example/ranking/corpus_preprocessed_dssm.txt",
        "text2_corpus": "../data/example/ranking/corpus_preprocessed_dssm.txt",
        "use_dpool": false,
        "embed_size": 5,
        "vocab_size": 4061,
        "fill_word": 4060,
        "train_embed": true,
        "text1_maxlen": 100,
        "text2_maxlen": 500
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "../data/example/ranking/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_valid.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
        "batch_list": 10,
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "cdssm.CDSSM",
    "setting": {
        "filters": 5,
        "kernel_size": 3,
        "hidden_size": 10
    }
  },
 "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

