{
  "net_name": "drmm",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/drmm.weights",
      "num_epochs": 2000,
      "num_batch": 30,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "/home/fanyixing/dataset/marco/qid.overall.txt",
        "text2_corpus": "/home/fanyixing/dataset/marco/did.overall.txt",
        "use_dpool": true,
        "fill_word": 90853,
        "embed_size": 50,
        "vocab_size": 90854,
        "embed_path": "/home/fanyixing/dataset/marco/embed_wiki-pdc_d50",
        "hist_size": 60,
        "text1_maxlen": 20,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "/home/fanyixing/dataset/marco/rel.train.txt",
        "hist_feats_file": "/home/fanyixing/dataset/marco/relation.train.hist-60.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "relation_file": "/home/fanyixing/dataset/marco/rel.dev.txt",
        "hist_feats_file": "/home/fanyixing/dataset/marco/relation.dev.hist-60.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "relation_file": "/home/fanyixing/dataset/marco/rel.dev.txt",
        "hist_feats_file": "/home/fanyixing/dataset/marco/relation.dev.hist-60.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "relation_file": "/home/fanyixing/dataset/marco/rel.dev.txt",
        "hist_feats_file": "/home/fanyixing/dataset/marco/relation.dev.hist-60.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "drmm.DRMM",
    "num_layers": 2,
    "hidden_sizes": [5, 1]
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

