{
  "net_name": "drmm",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/drmm.weights",
      "num_epochs": 1000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "../data/example/ranking/qid_query.txt",
        "text2_corpus": "../data/example/ranking/docid_doc.txt",
        "use_dpool": true,
        "fill_word": 193367,
        "embed_size": 1,
        "vocab_size": 193368,
        "train_embed": false,
        "embed_path": "../data/example/ranking/embed.idf",
        "hist_size": 60,
        "text1_maxlen": 5,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 20,
        "relation_file": "../data/example/ranking/relation.train.fold1.txt",
        "hist_feats_file": "../data/example/ranking/relation.train.fold1.hist.60.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation.test.fold1.txt",
        "hist_feats_file": "../data/example/ranking/relation.test.fold1.hist.60.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation.test.fold1.txt",
        "hist_feats_file": "../data/example/ranking/relation.test.fold1.hist.60.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation.test.fold1.txt",
        "hist_feats_file": "../data/example/ranking/relation.test.fold1.hist.60.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "drmm.DRMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [5, 1]
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@1", "ndcg@3", "ndcg@10", "map" ]
}
