{
  "net_name": "dssm",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/dssm.weights",
      "num_epochs": 3,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "../data/mq2007/qid_dssm.txt",
        "text2_corpus": "../data/mq2007/docid_dssm.txt",
        "use_dpool": true,
        "fill_word": 0,
        "text1_maxlen": 30000,
        "text2_maxlen": 30000
    },
    "train": {
        "input_type": "DSSM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "../data/mq2007/relation.train.fold1.txt"
    },
    "valid": {
        "input_type": "DSSM_ListGenerator", 
        "phase": "EVAL",
        "relation_file": "../data/mq2007/relation.test.fold2.txt"
    },
    "test": {
        "input_type": "DSSM_ListGenerator", 
        "phase": "EVAL",
        "relation_file": "../data/mq2007/relation.test.fold1.txt"
    },
    "predict": {
        "input_type": "DSSM_ListGenerator", 
        "phase": "PREDICT",
        "relation_file": "../data/mq2007/relation.test.fold1.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "dssm.DSSM",
    "num_layers": 2,
    "hidden_sizes": [300, 128]
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

