{
  "net_name": "dssm",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/dssm.weights",
      "num_epochs": 3,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "../data/example/ranking/corpus_preprocessed_dssm.txt",
        "text2_corpus": "../data/example/ranking/corpus_preprocessed_dssm.txt",
        "vocab_size": 4060,
        "embed_size": 10,
        "feat_size": 4060
    },
    "train": {
        "input_type": "DSSM_PairGenerator", 
        "phase": "TRAIN",
        "use_iter": true,
        "query_per_iter": 3,
        "batch_per_iter": 5,
        "batch_size": 10,
        "relation_file": "../data/example/ranking/relation_train.txt"
    },
    "valid": {
        "input_type": "DSSM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_valid.txt"
    },
    "test": {
        "input_type": "DSSM_ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    },
    "predict": {
        "input_type": "DSSM_ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "../data/example/ranking/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "dssm.predict.test.txt"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "dssm.DSSM",
    "setting": {
        "feat_size": 4060, 
        "hidden_sizes": [100, 30]
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

