{
    "net_name": "match_pyramid",
    "global":{
        "num_epochs": 1
    },
    "inputs": {
        "input_type": 0, 
        "text1_corpus": "../sample_data/query.txt",
        "text2_corpus": "../sample_data/doc.txt",
        "text1_maxlen": 5,
        "text2_maxlen": 50,
        "batch_size": 100,
        "fill_word": 100001,
        "relation_train": "../sample_data/relation.train.fold0.txt",
        "relation_test": "../sample_data/relation.test.fold0.txt"
    },
    "layers": [
        {
            "layer_name": "embedding",
            "layer_index": 0,
            "layer_inputs": [ "text1", "text2" ],
            "setting": {
                "embed_size": 100,
                "vocab_size": 1000
            },
            "layer_outputs": [ "t1_embed", "t2_embed" ]
        },
        {
            "layer_name": "dot",
            "layer_index": 1,
            "layer_inputs": [ "t1_embed", "t2_embed" ],
            "setting": {
            },
            "layer_outputs": [ "dot" ]
        },
        {
            "layer_name": "fc",
            "layer_index": 2,
            "layer_inputs": [ "dot" ],
            "setting": {
                "dim": 1
            },
            "layer_outputs": [ "fc" ]
        }
    ],
    "losses": [
        "rank_hinge_loss"
    ],
    "metrics": [
        "ndcg@3",
        "ndcg@5",
        "map"
    ]
}

