{
  "net_name": "match_pyramid",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/match_pyramid.weights",
      "num_epochs": 3,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "/home/pangliang/matching/data/letor/r5w/qid_query.txt",
        "text2_corpus": "/home/pangliang/matching/data/letor/r5w/docid_doc.txt",
        "use_dpool": true,
        "fill_word": 193367,
        "embed_size": 50,
        "vocab_size": 193368,
        "embed_path": "/home/pangliang/matching/data/letor/r5w/embed_wiki-pdc_d50_norm",
        "text1_maxlen": 20,
        "text2_maxlen": 500
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_train": "/home/pangliang/matching/data/letor/r5w/relation.train.fold1.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "relation_test": "/home/pangliang/matching/data/letor/r5w/relation.test.fold2.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "relation_test": "/home/pangliang/matching/data/letor/r5w/relation.test.fold1.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "relation_test": "/home/pangliang/matching/data/letor/r5w/relation.test.fold1.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.fold1.txt"
    }
  },
  "model": {
    "model_path": "/home/pangliang/matching/MatchZoo/matchzoo/models/",
    "model_py": "matchpyramid"
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

