{
  "net_name": "match_pyramid",
  "global":{
      "weights_file": "./models/match_pyramid.weights",
      "num_epochs": 100,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "/data/textnet/data/LetorMQ2007/textnet-letor-mq2007-r5w/qid_query.txt",
        "text2_corpus": "/data/textnet/data/LetorMQ2007/textnet-letor-mq2007-r5w/docid_doc.txt",
        "fill_word": 193367,
        "text1_maxlen": 5,
        "text2_maxlen": 50
    },
    "train": {
        "input_type": 0, 
        "phase": "TRAIN",
        "use_iter": true,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_train": "/data/textnet/data/LetorMQ2007/textnet-letor-mq2007-r5w/relation.train.fold1.txt"
    },
    "valid": {
        "input_type": 0, 
        "phase": "EVAL",
        "relation_test": "/data/textnet/data/LetorMQ2007/textnet-letor-mq2007-r5w/relation.test.fold2.txt"
    },
    "test": {
        "input_type": 0, 
        "phase": "EVAL",
        "relation_test": "/data/textnet/data/LetorMQ2007/textnet-letor-mq2007-r5w/relation.test.fold1.txt"
    }
  },
  "model": {
    "layers": [
      {
        "class_name": "InputLayer", 
        "config": {
          "dtype": "float32", 
          "batch_input_shape": [
            null, 
            5
          ], 
          "name": "query", 
          "sparse": false
        }, 
        "inbound_nodes": [], 
        "name": "query"
      }, 
      {
        "class_name": "InputLayer", 
        "config": {
          "dtype": "float32", 
          "batch_input_shape": [
            null, 
            50
          ], 
          "name": "doc", 
          "sparse": false
        }, 
        "inbound_nodes": [], 
        "name": "doc"
      }, 
      {
        "class_name": "Embedding", 
        "config": {
          "embeddings_initializer": {
            "class_name": "RandomUniform", 
            "config": {
              "maxval": 0.05, 
              "seed": 11, 
              "minval": -0.05
            }
          }, 
          "name": "embedding_1", 
          "dtype": "int32", 
          "output_dim": 50, 
          "trainable": true, 
          "embeddings_regularizer": null, 
          "input_dim": 193368, 
          "mask_zero": false, 
          "embeddings_constraint": null, 
          "batch_input_shape": [
            null, 
            null
          ], 
          "activity_regularizer": null, 
          "input_length": null
        }, 
        "inbound_nodes": [
          [
            [
              "query", 
              0, 
              0, 
              {}
            ]
          ], 
          [
            [
              "doc", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "embedding_1"
      }, 
      {
        "class_name": "Dot", 
        "config": {
          "normalize": false, 
          "trainable": true, 
          "axes": [
            2, 
            2
          ], 
          "name": "dot_1"
        }, 
        "inbound_nodes": [
          [
            [
              "embedding_1", 
              0, 
              0, 
              {}
            ], 
            [
              "embedding_1", 
              1, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "dot_1"
      }, 
      {
        "class_name": "Reshape", 
        "config": {
          "target_shape": [
            5, 
            50, 
            1
          ], 
          "trainable": true, 
          "name": "reshape_1"
        }, 
        "inbound_nodes": [
          [
            [
              "dot_1", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "reshape_1"
      }, 
      {
        "class_name": "Conv2D", 
        "config": {
          "kernel_constraint": null, 
          "kernel_initializer": {
            "class_name": "VarianceScaling", 
            "config": {
              "distribution": "uniform", 
              "scale": 1.0, 
              "seed": null, 
              "mode": "fan_avg"
            }
          }, 
          "name": "conv2d_1", 
          "bias_regularizer": null, 
          "bias_constraint": null, 
          "activation": "relu", 
          "trainable": true, 
          "data_format": "channels_last", 
          "padding": "same", 
          "strides": [
            1, 
            1
          ], 
          "dilation_rate": [
            1, 
            1
          ], 
          "kernel_regularizer": null, 
          "filters": 32, 
          "bias_initializer": {
            "class_name": "Zeros", 
            "config": {}
          }, 
          "use_bias": true, 
          "activity_regularizer": null, 
          "kernel_size": [
            3, 
            3
          ]
        }, 
        "inbound_nodes": [
          [
            [
              "reshape_1", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "conv2d_1"
      }, 
      {
        "class_name": "MaxPooling2D", 
        "config": {
          "name": "max_pooling2d_1", 
          "trainable": true, 
          "data_format": "channels_last", 
          "pool_size": [
            3, 
            3
          ], 
          "padding": "same", 
          "strides": [
            3, 
            3
          ]
        }, 
        "inbound_nodes": [
          [
            [
              "conv2d_1", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "max_pooling2d_1"
      }, 
      {
        "class_name": "Conv2D", 
        "config": {
          "kernel_constraint": null, 
          "kernel_initializer": {
            "class_name": "VarianceScaling", 
            "config": {
              "distribution": "uniform", 
              "scale": 1.0, 
              "seed": null, 
              "mode": "fan_avg"
            }
          }, 
          "name": "conv2d_2", 
          "bias_regularizer": null, 
          "bias_constraint": null, 
          "activation": "relu", 
          "trainable": true, 
          "data_format": "channels_last", 
          "padding": "same", 
          "strides": [
            1, 
            1
          ], 
          "dilation_rate": [
            1, 
            1
          ], 
          "kernel_regularizer": null, 
          "filters": 32, 
          "bias_initializer": {
            "class_name": "Zeros", 
            "config": {}
          }, 
          "use_bias": true, 
          "activity_regularizer": null, 
          "kernel_size": [
            3, 
            3
          ]
        }, 
        "inbound_nodes": [
          [
            [
              "max_pooling2d_1", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "conv2d_2"
      }, 
      {
        "class_name": "MaxPooling2D", 
        "config": {
          "name": "max_pooling2d_2", 
          "trainable": true, 
          "data_format": "channels_last", 
          "pool_size": [
            3, 
            3
          ], 
          "padding": "same", 
          "strides": [
            3, 
            3
          ]
        }, 
        "inbound_nodes": [
          [
            [
              "conv2d_2", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "max_pooling2d_2"
      }, 
      {
        "class_name": "Flatten", 
        "config": {
          "trainable": true, 
          "name": "flatten_1"
        }, 
        "inbound_nodes": [
          [
            [
              "max_pooling2d_2", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "flatten_1"
      }, 
      {
        "class_name": "Dense", 
        "config": {
          "kernel_initializer": {
            "class_name": "VarianceScaling", 
            "config": {
              "distribution": "uniform", 
              "scale": 1.0, 
              "seed": null, 
              "mode": "fan_avg"
            }
          }, 
          "name": "dense_1", 
          "kernel_constraint": null, 
          "bias_regularizer": null, 
          "bias_constraint": null, 
          "activation": "linear", 
          "trainable": true, 
          "kernel_regularizer": null, 
          "bias_initializer": {
            "class_name": "Zeros", 
            "config": {}
          }, 
          "units": 1, 
          "use_bias": true, 
          "activity_regularizer": null
        }, 
        "inbound_nodes": [
          [
            [
              "flatten_1", 
              0, 
              0, 
              {}
            ]
          ]
        ], 
        "name": "dense_1"
      }
    ],
    "input_layers": [
      [
        "query", 
        0, 
        0
      ], 
      [
        "doc", 
        0, 
        0
      ]
    ], 
    "output_layers": [
      [
        "dense_1", 
        0, 
        0
      ]
    ] 
  },
  "losses": [ "rank_hinge_loss" ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

