{
  "net_name": "querydecision",
  "global":{
      "model_type": "PY",
      "weights_file": "./models/mz_sem4-reg_only.weights",
      "num_epochs": 2000,
      "num_batch": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "../data/mq2007/qid_query.txt",
        "text2_corpus": "../data/mq2007/docid_doc.txt",
        "use_dpool": true,
        "fill_word": 193367,
        "embed_size": 50,
        "vocab_size": 193368,
        "train_embed": false,
        "embed_path": "../data/mq2007/embed_wiki-pdc_d50_norm",
        "idf_file": "../data/mq2007/embed.idf",
        "pair_feat_size": 46,
        "text1_maxlen": 18,
        "text2_maxlen": 50
    },
    "train": {
        "input_type": "PairGenerator_Feats", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "pair_feat_file": "../data/mq2007/relation.train.fold1.pairfeats.txt",
        "relation_file": "../data/mq2007/relation.train.fold1.txt"
    },
    "test": {
        "input_type": "ListGenerator_Feats", 
        "phase": "EVAL",
        "batch_list": 10,
        "pair_feat_file": "../data/mq2007/relation.test.fold1.pairfeats.txt",
        "relation_file": "../data/mq2007/relation.test.fold1.txt"
    },
    "predict": {
        "input_type": "ListGenerator_Feats", 
        "phase": "PREDICT",
        "batch_list": 10,
        "pair_feat_file": "../data/mq2007/relation.test.fold1.pairfeats.txt",
        "relation_file": "../data/mq2007/relation.test.fold1.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "mz_sem4-reg_only.ranklist"
    }
  },
  "model": {
    "model_path": "./models/",
    "model_py": "querydecision.QueryDecision",
    "q_kernel_count": 32,
    "q_kernel_size": 3,
    "d_kernel_count": 32,
    "d_kernel_size": 3,
    "q_pool_size": 2,
    "d_pool_size": 2
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "NDCG@10", "Ndcg@5", "Precision@10", "PRECISION@5", "MAP" ]
}

