{
  "net_name": "anmm",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/toy_example/weights/anmm_ranking.weights",
      "save_weights_iters": 10,
      "num_iters": 10,
      "display_interval": 10,
      "test_weights_iters": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/toy_example/ranking/corpus_preprocessed.txt",
        "text2_corpus": "./data/toy_example/ranking/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 3,
        "vocab_size": 3004,
        "train_embed": true,
        "target_mode": "ranking",
        "bin_num": 30,
        "text1_maxlen": 5,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PairGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 20,
        "relation_file": "./data/toy_example/ranking/relation_train.txt",
        "hist_feats_file": "./data/toy_example/ranking/relation.train.binsum-30.txt"
    },
    "valid": {
        "input_type": "DRMM_ListGenerator",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/toy_example/ranking/relation_valid.txt",
        "hist_feats_file": "./data/toy_example/ranking/relation.valid.binsum-30.txt"
    },
    "test": {
        "input_type": "DRMM_ListGenerator",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/toy_example/ranking/relation_test.txt",
        "hist_feats_file": "./data/toy_example/ranking/relation.test.binsum-30.txt"
    },
    "predict": {
        "input_type": "DRMM_ListGenerator",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/toy_example/ranking/relation_test.txt",
        "hist_feats_file": "./data/toy_example/ranking/relation.test.binsum-30.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.anmm_ranking.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "anmm.ANMM",
    "setting": {
        "num_layers": 1,
        "hidden_sizes": [1],
        "dropout_rate": 0.5
    }
  },
  "losses": [
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 1.0
       }
    }
  ],
  "metrics": [ "precision@20", "ndcg@20", "map" ]
}
