{
  "net_name": "ANMM",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/toy_example/weights/anmm_classify.weights",
      "save_weights_iters": 10,
      "num_iters": 10,
      "display_interval": 10,
      "test_weights_iters": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/toy_example/classification/corpus_preprocessed.txt",
        "text2_corpus": "./data/toy_example/classification/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 3,
        "vocab_size": 3165,
        "train_embed": true,
        "target_mode": "classification",
        "class_num": 2,
        "bin_num": 30,
        "text1_maxlen": 5,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PointGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 20,
        "relation_file": "./data/toy_example/classification/relation_train.txt",
        "hist_feats_file": "./data/toy_example/classification/relation.train.binsum-30.txt"
    },
    "valid": {
        "input_type": "DRMM_PointGenerator",
        "phase": "EVAL",
        "batch_size": 10,
        "relation_file": "./data/toy_example/classification/relation_valid.txt",
        "hist_feats_file": "./data/toy_example/classification/relation.valid.binsum-30.txt"
    },
    "test": {
        "input_type": "DRMM_PointGenerator",
        "phase": "EVAL",
        "batch_size": 10,
        "relation_file": "./data/toy_example/classification/relation_test.txt",
        "hist_feats_file": "./data/toy_example/classification/relation.test.binsum-30.txt"
    },
    "predict": {
        "input_type": "DRMM_PointGenerator",
        "phase": "PREDICT",
        "batch_size": 10,
        "relation_file": "./data/toy_example/classification/relation_test.txt",
        "hist_feats_file": "./data/toy_example/classification/relation.test.binsum-30.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.anmm_classify.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "anmm.ANMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [10, 1],
        "dropout_rate": 0.5
    }
  },
  "losses": [
    {
       "object_name": "categorical_crossentropy",
       "object_params": {}
    }
  ],
  "metrics": [ "accuracy" ]
}

