{
  "net_name": "DUET",
  "global":{
      "model_type": "PY",
      "weights_file": "examples/toy_example/weights/duet_ranking.weights",
      "save_weights_iters": 10,
      "num_iters": 10,
      "display_interval": 10,
      "test_weights_iters": 10,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "./data/toy_example/ranking/corpus_preprocessed.txt",
        "text2_corpus": "./data/toy_example/ranking/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 50,
        "vocab_size": 3004,
        "train_embed": true,
        "target_mode": "ranking",
        "text1_maxlen": 20,
        "text2_maxlen": 500
    },
    "train": {
        "input_type": "PairGenerator", 
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "./data/toy_example/ranking/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/toy_example/ranking/relation_train.txt"
    },
    "test": {
        "input_type": "ListGenerator", 
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "./data/toy_example/ranking/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator", 
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "./data/toy_example/ranking/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict.test.duet_ranking.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "duet.DUET",
    "setting": {
        "lm_kernel_count": 32,
        "lm_hidden_sizes": [100],
        "lm_dropout_rate": 0.8,
        "dm_kernel_count": 32,
        "dm_kernel_size": 3,
        "dm_q_hidden_size": 32,
        "dm_d_mpool": 5,
        "dm_hidden_sizes": [50],
        "lm_dropout_rate": 0.5,
        "dm_dropout_rate": 0.5
    }
  },
  "losses": [ 
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {
            "margin": 0.5
       }
    }
  ],
  "metrics": [ "ndcg@3", "ndcg@5", "map" ]
}

